.main-about-container{
    background-color: rgb(31, 58, 87);
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}

.title-about-row{
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(3, 191, 212);
}

.title-about-row h1{
    color: rgb(205, 219, 250);
    font-size: 50px;
    font-family: "Kanit", serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-col .image-container {
    position: relative;
    display: inline-block;
    border-radius: 100px; 
    overflow: hidden; 
    box-shadow: 6px 6px 6px 6px rgb(17, 33, 50);
    transition: transform 0.3s ease;
}

.about-col img {
    border-radius: 100px; 
    width: 350px;
    height: auto;
    transition: transform 0.3s ease;
}

.about-col .caption {
    font-family: "Poppins", serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.about-col .image-container:hover .caption {
    opacity: 1; 
}

.about-col .image-container:hover {
    transform: scale(1.05); 
}


.about-col p{
    color: rgb(180, 193, 227);
    font-family: "Poppins", serif;
    font-size: 17px;
}

.about-col span {
    font-size: 19px;
    font-family: "Poppins", serif;
    color: rgb(205, 219, 250);
}
