.main-contact-container{
    margin: 40px 0;
}


.contact-col h1{
    color: rgb(205, 219, 250);
}

.contact-col p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(205, 219, 250);
}

.social-contact-col{
}

.social-contact-col a{
    font-family: "Poppins", serif;
    font-size: 23px;
    color: #CDDBFA;
    text-decoration: none;
    margin-bottom: 15px;
}

.social-contact-col svg{
    margin-bottom: 5px;
    margin-right: 10px;
}