div.main-row {
  margin-top: 50px;
}

div.main-first-col {
  padding-right: 30px;
  color: rgb(205, 219, 250);
}

div.main-first-col img {
  border-radius: 200px;
  width: 350px;
  height: auto;
  margin-bottom: 40px;
}

.mangodev-div {
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  margin-left: 10px;
}

.mangodev-div div {
  background-color: #06a1b3;
  width: 70px;
  height: 5px;
  margin-right: 15px;
}

.mangodev-div span {
  font-family: "Poppins", serif;
  font-size: 20px;
}

div.main-first-col h1 {
  font-size: 50px;
  font-family: "Kanit", serif;
}

div.main-first-col h2 {
  font-family: "Kanit", serif;
  margin-top: 20px;
  margin-bottom: 30px;
}

div.main-first-col p {
  color: rgb(180, 193, 227);
  font-family: "Poppins", serif;
  font-size: 17px;
}

div.main-second-col {
  color: rgb(205, 219, 250);
  padding-left: 30px;
}

.second-col-title {
  font-family: "Kanit", serif;
  margin-bottom: 20px;
  font-size: 34px;
}

.tools-col {
  background: rgb(24, 45, 66);
  background: linear-gradient(0deg, rgba(24, 45, 66, 1) 0%, rgb(35, 65, 97) 100%);
  padding: 20px 95px;
  margin: 15px 0px;
  transition: transform 0.3s ease;
  border: 1px solid #3F75AE;
}

.tools-col:hover {
  transform: scale(1.07);
  z-index: 10;
}

.tools-col svg {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tools-col h4 {
  font-family: "Poppins", serif;
  margin: 20px 0;
}

.see-more-button {
  font-family: "Play", serif;
  font-size: 18px;
  padding: 7px 15px;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  width: auto;
  position: relative;
  overflow: hidden;
  text-shadow: 2px 2px 2px rgb(2, 16, 30);
  color: rgb(222, 236, 251);
  z-index: 0;
  white-space: nowrap;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.see-more-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #06a1b3;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: width 0.5s ease, height 0.5s ease;
}

.see-more-button:hover {
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 159, 176, 0.5);
}

.see-more-button:hover::before {
  width: 200%; 
  height: 200%; 
}
