.main-projects-container {
  background: rgb(24, 45, 66);
  background: linear-gradient(
    0deg,
    rgba(24, 45, 66, 1) 0%,
    rgb(35, 65, 97) 100%
  );
  border: 2px solid #3f75ae;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.title-projects-row {
  margin-bottom: 50px;
  border-bottom: 2px solid #06a1b3;
}

.title-projects-row h1 {
  color: rgb(205, 219, 250);
  font-size: 50px;
  font-family: "Kanit", serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.projects-row1{
  border-bottom: 4px solid #06a1b3;
}

.projects-row2{
  border-top: 4px solid #06a1b3;
}


.projects-row1  .project-col {
  background-color: #23465e;
}

.projects-row1 .project-col:nth-of-type(2) {
  background-color: #2B6B96;
}

.projects-row1 .project-col:nth-of-type(3) {
  background-color: #2697C8;
}

.projects-row1 .project-col:nth-of-type(4) {
  background-color: #06a1b3;
}

.projects-row2 .project-col:nth-of-type(4) {
  background-color: #23465e;
}

.projects-row2 .project-col:nth-of-type(3) {
  background-color: #2B6B96;
}

.projects-row2 .project-col:nth-of-type(2) {
  background-color: #2697C8;
}

.projects-row2 .project-col {
  background-color: #06a1b3;
}


.projects-row1 .project-col, 
.projects-row2 .project-col {
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.projects-row1 .project-col:nth-of-type(1):hover {
  background-color: #2a5579; 
  box-shadow: 0 4px 15px rgba(42, 85, 121, 0.7); 
}

.projects-row1 .project-col:nth-of-type(2):hover {
  background-color: #1f4f7f; 
  box-shadow: 0 4px 15px rgba(31, 79, 127, 0.7); 
}

.projects-row1 .project-col:nth-of-type(3):hover {
  background-color: #1f7aa3; 
  box-shadow: 0 4px 15px rgba(31, 122, 163, 0.7); 
}

.projects-row1 .project-col:nth-of-type(4):hover {
  background-color: #05828f;
  box-shadow: 0 4px 15px rgba(5, 130, 143, 0.7); 
}

.projects-row2 .project-col:nth-of-type(4):hover {
  background-color: #2a5579; 
  box-shadow: 0 4px 15px rgba(42, 85, 121, 0.7); 
}

.projects-row2 .project-col:nth-of-type(3):hover {
  background-color: #1f4f7f;
  box-shadow: 0 4px 15px rgba(31, 79, 127, 0.7);
}

.projects-row2 .project-col:nth-of-type(2):hover {
  background-color: #1f7aa3;
  box-shadow: 0 4px 15px rgba(31, 122, 163, 0.7);
}

.projects-row2 .project-col:hover {
  background-color: #05828f; 
  box-shadow: 0 4px 15px rgba(5, 130, 143, 0.7); 
}


.project-col h3 {
  color: #e1edfa;
  font-family: "Kanit", serif;
  font-size: 30px;
  margin-top: 30px;
}

.project-col p {
  color: #e1edfa;
  font-family: "Poppins", serif;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
  font-weight: 400;
}

.project-viewer-row{
    margin: 100px 0;
}


.image-container-viewer {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 6px 6px 6px 6px rgb(17, 33, 50);
  transition: transform 0.3s ease;
  width: 100%;
  margin-right: 10px; 
}

.image-container-viewer img {
  width: 100%;
  border-radius: 10px;
}

.image-container-viewer .caption {
  font-family: "Poppins", serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container-viewer:hover .caption {
  opacity: 1; 
}

.image-container-viewer:hover {
  transform: scale(1.05); 
}


.project-viewer-col h3{
  color: rgb(205, 219, 250);
  margin-left: 10px;
  font-size: 29px;
}

.project-viewer-col h1{
  margin: 100px 0;
  color: rgb(205, 219, 250);
}

